@model ICollection<InventarioApp.Models.DonacionesModelView>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Donaciones</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Cant.
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Donador
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonorName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>